@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/mycustomfont.woff2') format('woff2'),
         url('/fonts/mycustomfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  